<div class="card">
    <div class="card-body">
        <h2>{{isinEditMode?'Update Todo':'Add Todo'}}</h2>
        <div class="form-group">
            <label for="todoItem">todoItem</label>
            <input type="text" class="form-control" #todoItem>
        </div>
        <div class="form-group">
            <label for="isCompleted">isCompleted</label>
            <select type="text" class="form-control" #isCompleted>
                 <option value="true">Yes</option>
                 <option value="false">No</option>
             </select>   
        </div>
        <button 
        *ngIf="!isinEditMode"
        mat-raised-button color="primary">Add button</button>
        <button
        *ngIf="isinEditMode"
        (click)="onUpdateTodo()"
        mat-raised-button color="primary">Update button</button>
    </div>
</div>